.contain_it {
    display: inline-block;
    width: 1000px;
	height:500px;
    margin: auto;
	position:relative;
	left:10px;
}
/* https://stackoverflow.com/questions/20849221/position-buttons-in-container-as-a-grid-using-css */
.button-container {
    width: 260px;
    overflow-y: auto;
	position:relative;
	bottom:205px;
	left:75px;
	
}
.button-container > button {
    width: 60px;
    height: 60px;
    padding-left: 2px;
    float: left;
    font-size: 13px;
    margin: 3px;
	background: white;
 
  text-decoration: none;
}
/*question and ans space*/
#Q_box{
    background-color: white;
    width: 800px;
    float: left;
    height: 200px;
	position:relative;
	right:70px;
	font-size:20px;
}

#maths:hover{
	background-color:blue;
}

#next{
	position:relative;
	left:220px;
	top:30px;
}
#saving{
	position:relative;
	left:330px;
	top:30px;
}
#deselect{
	position:relative;
	top:30px;
	right:350px;
}
#saving,#deselect,#next{
	 background-color:#008CBA ;
	  border: blue;
	  color: white;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 20px;
	  margin: 7px 7px;
	  cursor: pointer;
	  padding:7px 10px 7px 10px;
	  border-radius:6px;
	  position:relative;
	 
 }
#next:hover,#saving:hover{
	  background-color:green;
	  border-color:black;
 }
 #deselect:hover{
	 background-color:grey;
	 font-style:bold;
	 border-color:black;
 }
 #deselect:active,#saving:active,#next:active{
	 color:black;
 }

/*style the ques numbers*/
#buttonz{
	  background-color:#008CBA ;
	  border: blue;
	  color: white;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 20px;
	  margin: 5px 5px;
	  cursor: pointer;
	  border-radius:6px;
	  position:relative;
}
#buttonz:hover{
	color:black;
}
#buttonz:active{
	box-shadow:2px 2px 5px grey;
	border-color:blue;
	color:black;
}
#buttonz:visited{
	color:blue;
}
/*#buttonz.selected{
	border:1px solid #469520;background:#fff;color:#469520;box-shadow:1px 1px 1px 1px #d3f0b5;
}*/

/*background of the page*/
#budy{
  background-color:#E8E8E8;
  position:relative;
}
#working_area{
  /* background-color: white; */
}
.exit{
	position:relative;
	left:250px;
	bottom:5px;
	font-size:17px;
	align-content:center;
	border-collapse:center;
    float:center;
    margin:3px 3px;
    width:100px;
    height:40px;
    display:inline-block;
    padding:5px;
	padding-top:15px;
	padding-right:15px;
	background-color:red;
	border-radius: 8px;
	opacity:0.8;
}
.exit:hover{
	box-shadow:5px 2px 5px grey;
	background-color:red;
	opacity:0.9;
}

#Subs{
     width: 60%;
     list-style-type:none;
     background-color: #99ccff;
     margin:0 0 0 0;
     padding:10px;
	 position:relative;
	 
}
/*TO style the phy chem maths exit*/
.Subjects li{
	display:inline-block;
	
}
.phy{
	position:relative;
	font-size:20px;
	align-content:center;
	border-collapse:center;
    float:left;
    margin:6px 6px;
    width:100px;
    height:40px;
	padding:11px;
	padding-top:25px;
	padding-right:23px;
	position:relative;
	right:270px;
	background-color:#7D9FEF;
	border-radius: 10px;
	clear:left;
}
.chem,.maths{
	position:relative;
	font-size:20px;
	align-content:center;
	border-collapse:center;
    float:left;
    margin:6px 6px;
    width:100px;
    height:40px;
	padding:10px;
	padding-top:2px;
	padding-bottom:32px;
	padding-right:20px;
	position:relative;
	right:270px;
	top:1px;
	background-color:#7D9FEF;
	border-radius: 10px;
}
.phy:hover,.chem:hover,.maths:hover{
	background-color:#008CBA;
}
.phy:active,.chem:active,.maths:active{
	box-shadow:2px 2px 5px grey;
	border-color:blue;
	color:black;
}
.Subjects label, .Sujects input {
    /*display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;*/
}

.Subjects input[type="radio"] ,.exit input[type="button"]{
    opacity:0.011;
    z-index:100;
}

.Subjects input[type="radio"]:checked+label {
	border-color:black;
    background-color:white;
	
}

.Subjects label {
     padding:5px;
     cursor:pointer;
     z-index:90;
}

.Subjects label:hover {
	
    cursor:pointer;
}
#time{
	font-color:bold-black;
}
/*#ques{
	width:50px;
	height:50px;
	
}*/
